extends ../layout.pug

block content
    .section
        .container
            .columns
                .card.column
                    
                    .card-content
                       
                    .column
                    .card-content
                        p.title #{ artist.name }                   
