extends ../layout.pug
include ../_mixins/snipcart.pug

block content

    .section.header
        each p in artists
            .level
                .level-item
                    .image
                        img(src=p.profilePicture)
            .level
                .level-item
                    .title Dan_Is_Me
            .section
                .columns
                    .column.has-text-centered.iframe
                        p My passion for music started 10 years ago when I had my first Piano lesson. Since then I have developed my talents and become really interested in music production, so last year (2016), I decided to follow up on these interests and now I have multiple tracks that I am proud of and would like to share to the public through my social medias and this website!
            .section
                .container
                  .level
                    .level-left
                            img(src='https://media.graphcms.com/output=f:jpg/resize=width:200,height:200/1qqz9uXrT6iFz47lhTBl')
                    .level-item
                            img(src='https://media.graphcms.com/output=f:jpg/resize=width:200,height:200/wVcSuA20TIGjUcrCiwLC')
                    .level-right
                            img(src='https://media.graphcms.com/output=f:jpg/resize=width:200,height:200/YNDAe3JqRrmSy2SKny0m')
                

                       
                       
                       
                       
                
                                        
                                       
                                                