extends ../layout.pug
include ../_mixins/snipcart.pug

block content
    .section
        .container
            .heading
                h1.title Artists

    .section
        .container
            .columns.is-multiline
                each p in artists
                    .column.is-half
                        article.media
                            figure.media-left
                                p.image
                                    img(src=p.profilePicture)
                            .media-content
                                .content
                                    p
                                        strong #{ p.name }
                                    .level
                                        a(href=`/artists/${p.id}`, title='Artist info').level-item-left
                                            span.icon.is-large
                                                i.fa.fa-info
                                       
                                        
                                       
                                                