extends ../layout.pug
include ../_mixins/snipcart.pug

block content
    .section
        .container
            .columns
                .card.column
                    .card-image
                        figure.image.is-278x182
                            img(src=product.image.url)
                    .card-content
                        p.title #{ product.name }
                        p.subtitle #{product.style}
                        strong  #{ formatMoney(product.price) }

                    .card-content
                        +snipcart_button(product)
                            span.icon.is-large
                                i.fa.fa-cart-plus
                    