extends ../layout.pug
include ../_mixins/snipcart.pug

block content
    .section
        .container
            .columns
                .card.column
                    
                    .card-content
                      iframe(width='100%', height='166', scrolling='no', frameborder='no', src=product.song)
                    .column
                    .card-content
                        p.title #{ product.name }
                        p.subtitle #{product.style}
                        strong  #{ formatMoney(product.price) }

                    .card-content
                        +snipcart_button(product)
                            span.icon.is-large
                                i.fa.fa-cart-plus
                   
