html
    head
        if title
            title #{ title }
        else
            title Beat by Beat

        block styles
            link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css', rel='stylesheet', type="text/css")
            link(href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css", type="text/css", rel="stylesheet")
            link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css', rel='stylesheet')

        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
            script(src="https://cdn.snipcart.com/scripts/2.0/snipcart.js", id="snipcart", data-api-key=snipcartApiKey)
        
    body 
    br
    .navbar
        .container
            .nav.menu
                 .column.has-text-left.title.is-one-quarter  
                    a(href='/') Products
                 .column.has-text-left.title.is-one-quarter    
                    a(href='/artists') Artists       
                 .column.has-text-left.is-two-quarter 
                 .column.has-text-right.title.is-one-quarter 
                    a.snipcart-summary.snipcart-checkout
                        i.fa.fa-shopping-cart &nbsp;
                        | View cart (
                        span.snipcart-total-items 0
                        | )
    block content

footer.footer
  .container
    .content.has-text-centered
     .level
        .column.is-one-fifth
        .column.is-one-fifth
            a(href='https://www.facebook.com/DanIsMeProductions/')
                i.fa.fa-facebook.fa-3x
        .column.is-one-fifth
            a(href='https://www.youtube.com/channel/UCQVng31_gOzP4STCR6CV_GA')
                i.fa.fa-youtube-play.fa-3x
        .column.is-one-fifth
            a(href='https://www.instagram.com/dimproduction/')
                i.fa.fa-instagram.fa-3x  
        .column.is-one-fifth               

